---
layout: default
featherlight: CustomJsCSS
---
<section id="galleries" class="galleries">
  <div class="section-wrapper">
    <div class="section-content">
      <h4><a href="/{{ site.gallery.dir }}" class="section-name">{{ page.title }}</a></h4>
      <hr>
      <div class="gallery-container">
         {% for image in page.images %}
                
        <div class="gallery-image-wrapper"><a href="{{ image }}" {% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]" {% endif %} class="thumbnail gallery"><img alt="{{ image }}" src="thumbs/{{ image }}" class="gallery-image img"></a></div>    
        {% endfor %}
      </div>
    </div>
  </div>
</section>